Menu
<hr>
	<ul>
		<li><%= link_to "Inicio", dashboard_index_path %></li>
		<li><%= link_to "Equipos", dashboard_equipos_path %></li>	
		<li><%= link_to "-Galería", dashboard_gallerias_path %></li>
		<li><%= link_to "--Imagenes", dashboard_imagenes_path %></li>
		<li><%= link_to "--Videos", dashboard_videos_path %></li>	
		<li>Descuentos</li>
		<li>Transacciones</li>	
		<li>Comentarios</li>
		<li><%= link_to "Administrar cuenta", dashboard_login_path%></li>		
	</ul>
<hr>