<h1>Mis Galerias</h1>

<div class="dashboard_menu">
	<%= render 'menu' %>
</div>


<div class="dashboard_contenido">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Equipment</th>
        <th>User</th>
        <th></th>
        <th colspan="2">Agregar</th>
        <th></th>
        <th></th>                        
      </tr>
    </thead>

    <tbody>
      <% @galleries.each do |gallery| %>
        <tr>
          <td><%= gallery.title %></td>
          <td><%= gallery.equipment_id %></td>
          <td><%= gallery.user_id %></td>
          <td><%= link_to 'Show', galeria_show_path(@equips,gallery) %></td>
          <%# if @permiso %>
          <td> <%= link_to 'Imagen', dashboard_imagenes_path(@equips,gallery.title) %>  <%#= link_to 'Edit', edit_gallery_path(gallery) %></td>
          <td><%= link_to 'Video', dashboard_videos_path(@equips,gallery.title) %><%#= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
          <%# end %>
          <!--<td> <%#= link_to 'Show', gallery %></td>
          <td><%#= link_to 'Edit', edit_gallery_path(gallery) %></td>-->
          <td><%= link_to 'Borrar', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Nueva Galeria', galeria_nueva_path(@e_id)  %>
</div>
