<div class="forma_contacto">
  <div class="datos_comprador">
      <p>Nombre:</p>
      <%= %>
      <input type="text" name="Nombre">
      <p>Email:</p>
      <input type="text" name="firstname">
      <p>Teléfono:</p>
      <input type="text" name="firstname">
      <p>Mensaje:</p>     
      <textarea rows="4" cols="20"></textarea>           
  </div>
  <div class="datos_anuncio">
      <h1><%= @equipment.name %></h1>
      <p><strong>Detalles del producto:</strong></p>
      <div class="detalles">
        <p><strong>Marca: </strong><%= @equipment.modelo %>  |  <strong>Modelo: </strong><%= @equipment.brand.name %></p>
        <p><strong>Año: </strong><%= @equipment.year %>  |  <strong>Color: </strong><%= @equipment.color %></p>  
      </div>          
      <p><strong>Descripción:</strong></p>
      <div class="detalles">
        <p><%= @equipment.description %></p>
      </div>     
  </div>
  <div class="capcha">
    <p> Lugar para el capcha </p>
  </div>
  <div class="botonera">
    <p>Enviar datos de contacto al vendedor <%= @user.username %>: </p>
    <p><input type="button" value="Enviar"> <input type="button" value="Regresar"> </p>   
  </div>  
</div>