

<%= form_tag '/venta', :method => 'get' do %>
  <p>
    <%#= text_field_tag :search, params[:search] %>
    <%= label :year, "Año" %><br>
    <%= select("equipment", "year", Equipment.all.collect {|p| [ p.year, p.year ] }.uniq, {include_blank: 'Todos'}) %>
    <br>
    <%= label :color, "Color" %><br>
    <%= select("equipment", "color", Equipment.all.collect {|p| [ p.color, p.color ] }.uniq, {include_blank: 'Todos'}) %>
    <br>
    <%= label :brand_id, "Marca" %><br>
    <%= select("equipment", "brand_id", Brand.all.collect {|p| [ p.id, p.name ] }.uniq, {include_blank: 'Todos'}) %>
    <br>
    <%= label :package_id, "Paquete" %><br>
    <%= select("equipment", "package_id", Package.all.collect {|p| [ p.id, p.name ] }.uniq, {include_blank: 'Todos'}) %>
    <br>
    <%= label :preciod, "Desde" %><br>
    <%= select("equipment", "preciod", Equipment.all.collect {|p| [ p.precio, number_to_currency(p.precio) ] }.uniq, {include_blank: 'Todos'}) %>
    <br>
    <%= label :precioh, "Hasta" %><br>
    <%= select("equipment", "precioh", Equipment.all.collect {|p| [ p.precio, number_to_currency(p.precio) ] }.uniq, {include_blank: 'Todos'}) %>
    <br>
    <%= label :modelo , "Modelo" %><br>
    <%= select("equipment", "modelo", Equipment.all.collect {|p| [ p.modelo, p.modelo ] }.uniq, {include_blank: 'Todos'}) %>
    <br>
    <%= label :moneda , "Moneda" %><br>
    <%= select("equipment", "moneda", Equipment.all.collect {|p| [ p.moneda, p.moneda ] }.uniq, {include_blank: 'Todos'}) %>
    <br>

    <%= label :pais , "Pais"%><br>
    <%= select("equipment", "pais", Equipment.all.collect {|p| [ p.pais, p.pais ] }.uniq, {include_blank: 'Todos'}) %>
    <br>
    <%= label :estado ,"Estado"%><br>
    <%= select("equipment", "estado", Equipment.all.collect {|p| [ p.estado, p.estado ] }.uniq, {include_blank: 'Todos'}) %>
    <br>
    <%= label :ciudad ,"Ciudad"%><br>
    <%= select("equipment", "ciudad", Equipment.all.collect {|p| [ p.ciudad, p.ciudad ] }.uniq, {include_blank: 'Todos'}) %>
    <br>
    <%= label :category_id ,"Categoria"%><br>
    <%= select("equipment", "category_id", Category.all.collect {|p| [ p.id, p.title ] }.uniq, {include_blank: 'Todos'}) %>
    <br>

    <%= submit_tag "Filtrar", :name => nil %>
  </p>
  

<% end %>
<!-- params.require(:equipment).permit(:name, :year, :color, :brand_id, :package_id, :description, :publication_type, :precio, :modelo, :moneda , :pais, :estado, :ciudad, :category_id) -->
	<table id ="equipments" class ="pretty" >
		<thead>
			<tr>
				<td align="center"> <%= sortable "Nombre" %></td>
				<td align="center"> <%= sortable "Año" %></td>
				<td align="center"> <%= sortable "Color" %></td>
				<td align="center"> <%= sortable "Marca" %></td>
				<td align="center"> <%= sortable "Paquete" %></td>
				<td align="center"> <%= sortable "Precio" %></td>
				<td align="center"> <%= sortable "Modelo" %></td>
				<td align="center"> <%= sortable "Moneda" %></td>
				<td align="center"> <%= sortable "Pais" %></td>
				<td align="center"> <%= sortable "Estado" %></td>
				<td align="center"> <%= sortable "Ciudad" %></td>
				<td align="center"> <%= sortable "Categoria" %></td>
				
			</tr>
		</thead>
		

		<tbody>
			
		    <% @equipments.each do |equipment| %>
		      <tr>
		        <td align="center"><%= equipment.name %></td>
		        <td align="center"><%= equipment.year %></td>
		        <td align="center"><%= equipment.color %></td>
		        <td align="center"><%= equipment.brand_id %></td>
		        <td align="center"><%= equipment.package_id %></td>
		        <td align="center"><%= number_to_currency(equipment.precio) %></td>
		        <td align="center"><%= equipment.modelo %></td>
		        <td align="center"><%= equipment.moneda %></td>
		        <td align="center"><%= equipment.pais %></td>
		        <td align="center"><%= equipment.estado %></td>
		        <td align="center"><%= equipment.ciudad %></td>
		        <td align="center"><%= equipment.category_id %></td>
		        
		      </tr>
		    <% end %>
		
	  	</tbody>
    </table>



<%#= will_paginate @equipments %>