<p id="notice"><%= notice %></p>

<!--      REDES SOCIALES          -->
<%= render 'layouts/social_section', :title => "I wanna share this", :url => request.original_url %>  

<!--      Vista del equipo          -->
<div class="show_equipment">
  <!--      titulo del equipo          -->
  <div class="titulo">
    <h1>
      <%= @equipment.name %><span class="azul">&nbsp<%= number_to_currency(@equipment.precio) %>&nbsp<%= @currency.name %>&nbsp(<%if @equipment.publication_type == 1 %>Venta<% else %>Renta<% end %>)</span> 
      <span class="favoritos">
        <% if User.find_by(id: session[:user_id]) %>
          <% aux = Favorite.where('user_id = ? and equipment_id = ?' ,session[:user_id],  @equipment.id) 
          if aux.blank? %>
            <%=link_to "agregar a favoritos",new_fav_path(:equip => @equipment.id),remote: true %>
          <% else %>
            <%=link_to "borrar de favoritos",del_fav_path(:favoritos, :equip => @equipment.id),remote: true %> 
          <% end %>
        <% end %>
      </span>   
    </h1> 
  </div> 

  <!--      imagenes y detalles del equipo          -->
  <div class="producto">
    <div class="preview">
      <div>
      <%
        @gallery.each do |g|
        @images = Image.where('gallery_id' => g.id)
        link_to g.title, 'equipment/galleries/'+ g.equipment_id.to_s
        %>
          <% unless @images.blank?
           @images.each do |img| %>
            <img src="<%= img.image_url %>">
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div>
      <%
        @video2 = nil
        @gallery.each do |g|
        @video = Video.where('gallery_id' => g.id)
        if @video2 == nil
          @video2 = Video.where('gallery_id' => g.id).first
        end
        link_to g.title, 'equipment/galleries/'+ g.equipment_id.to_s
        %>
          <% unless @video.blank?
           @video.each do |v| %>
            <%= v.video_url.html_safe %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

      <!--      imagenes principal del equipo          -->
      <% if @video2 != nil %>
        <div class="imagen"><%= @video2.video_url.html_safe %></div>
      <%else %>
        <% unless @images.blank? %>
          <% if @image.image_url %>
              <div class="imagen"><img src="<%= @image.image_url %>"></div>
          <%else %>
              <div class="imagen"><img src="/data/dummy.png"></div>  
          <% end %>  
        <% else %>
          <div class="imagen"><img src="/data/dummy.png"></div>    
        <% end %>      
      <% end %>

      
  <div class="contenido860">
    <div class="modelo">
      <p class="etiquetas">Etiquetas: <%= @equipment.etiquetas %></p>
      <p class="modelo2">Modelo: <%= @equipment.modelo %></p>
      <p>Marca: <%= @equipment.brand.name %> | Año: <%= @equipment.year %> | Color: <%= @equipment.color %></p>
      <p>Lugar: <%= @equipment.ciudad %>, <%= @equipment.state.name %>, <%= @equipment.country.name %></p>
    </div> 
    <div class="contactar">
      <%= button_to "Contactar vendedor", equipo_contacto_path(:user_id => session[:user_id], :equipment => @equipment), :method => :post %>
      <p><img src="/images/iconos/usuario_icono.png" height="12" width="12"> 
      <%= link_to @user.name, users_view_path(:user_id => @equipment.user_id) %></p>
    </div>

    <div class="descripcion">
      <h1><span class="azul2">Descripción:</span></h1>
      <textarea readonly><%= @equipment.description %></textarea>
    </div>

    <div class="comentarios">
      <h1><span class="azul2">Comentarios:</span></h1>
      <%= render partial: '/comments/form', locals: {equipment: @equipment.slug, comment: @comment} %> 
      <%= render partial: '/comments/index', locals: {equipment: @equipment.slug, comments: @comments} %>
    </div>  
  </div> 


</div>