<p id="notice"><%= notice %></p>

   <article id="slider">
      <input checked type="radio" name="slider" id="slide1" />
      <input type="radio" name="slider" id="slide2" />
      <input type="radio" name="slider" id="slide3" />
      <input type="radio" name="slider" id="slide4" />
      <input type="radio" name="slider" id="slide5" />

<div id="slides">
<div id="overflow">
<div class="inner">
   <% contador = 0 %>
   <% @zone1.each do |zone| %>
   <% contador += 1 %>
   <%if zone.image_id   
      @imagen = Image.find(zone.image_id)
      @image = @imagen.image_url
   else 
      @image ="/data/dommy.jpg"
   end %>   
   <div class="welcome_show_cuadro">
      <div class="centra_img"><%= link_to image_tag(@image), equipment_path(zone) %></div>
      <div class="ajustar_titulo"><%= link_to zone.name, equipment_path(zone), class: "ajustar_titulo" %></div>
      <div class="detalles">
         <strong>Marca:</strong> <%= zone.brand.name %><br>
         <strong>Modelo:</strong> <%= zone.modelo %><br>    
         <strong>Año:</strong> <%= zone.year %><br>
         <%if zone.publication_type == 1 %>Venta<% else %>Renta<% end %>: <%= number_to_currency(zone.precio) %><br/> <%= zone.currency.name %><br>
         <img src="/images/iconos/mapa.png"> <%= zone.state.name %>, <%= zone.country.name %>
      </div>
   </div>      
   <% end %>
</div>
</div>
</div>
</article>
      <div id="active">
         <% case contador %>
         <% when 0..4 %>
            <label for="slide1"></label>
         <% when 5..8 %>
            <label for="slide1"></label>         
            <label for="slide2"></label>
         <% when 9..12 %>
            <label for="slide1"></label>         
            <label for="slide2"></label> 
            <label for="slide3"></label>                    
         <% when 13..16 %>
            <label for="slide1"></label>         
            <label for="slide2"></label> 
            <label for="slide3"></label>
            <label for="slide4"></label>                       
         <% else %>   
            <label for="slide1"></label>         
            <label for="slide2"></label> 
            <label for="slide3"></label>
            <label for="slide4"></label>               
            <label for="slide5"></label>
         <% end %>  
      </div> <!-- #active -->

<!-- ---------------------------------------- Zona 2 ----------------------------------------- -->
   <article id="slider2">
      <input checked type="radio" name="slider2" id="slide21" />
      <input type="radio" name="slider2" id="slide22" />
      <input type="radio" name="slider2" id="slide23" />
      <input type="radio" name="slider2" id="slide24" />
      <input type="radio" name="slider2" id="slide25" />

<div id="slides2">
<div id="overflow2">
<div class="inner2">
   <% contador = 0 %>
   <% @zone2.each do |zone| %>
   <% contador += 1 %>
   <%if zone.image_id   
      @imagen = Image.find(zone.image_id)
      @image = @imagen.image_url
   else 
      @image ="/data/dommy.jpg"
   end %>   
   <div class="welcome_show_cuadro">
      <div class="centra_img"><%= link_to image_tag(@image), equipment_path(zone) %></div>
      <div class="ajustar_titulo"><%= link_to zone.name, equipment_path(zone), class: "ajustar_titulo" %></div>
      <div class="detalles">
         <strong>Marca:</strong> <%= zone.brand.name %><br>
         <strong>Modelo:</strong> <%= zone.modelo %><br>    
         <strong>Año:</strong> <%= zone.year %><br>
         <%if zone.publication_type == 1 %>Venta<% else %>Renta<% end %>: <%= number_to_currency(zone.precio) %><br/> <%= zone.currency.name %><br>
         <img src="/images/iconos/mapa.png"> <%= zone.state.name %>, <%= zone.country.name %>
      </div>
   </div>      
   <% end %>
</div>
</div>
</div>
</article>
      <div id="active2">
         <% case contador %>
         <% when 0..4 %>
            <label for="slide21"></label>
         <% when 5..8 %>
            <label for="slide21"></label>         
            <label for="slide22"></label>
         <% when 9..12 %>
            <label for="slide21"></label>         
            <label for="slide22"></label> 
            <label for="slide23"></label>                    
         <% when 13..16 %>
            <label for="slide21"></label>         
            <label for="slide22"></label> 
            <label for="slide23"></label>
            <label for="slide24"></label>                       
         <% else %>   
            <label for="slide21"></label>         
            <label for="slide22"></label> 
            <label for="slide23"></label>
            <label for="slide24"></label>               
            <label for="slide25"></label>
         <% end %>  
      </div> <!-- #active -->


<!-- ---------------------------------------- Zona 3 ----------------------------------------- -->
   <article id="slider2">
      <input checked type="radio" name="slider3" id="slide31" />
      <input type="radio" name="slider3" id="slide32" />
      <input type="radio" name="slider3" id="slide33" />
      <input type="radio" name="slider3" id="slide34" />
      <input type="radio" name="slider3" id="slide35" />

<div id="slides3">
<div id="overflow3">
<div class="inner3">
   <% contador = 0 %>
   <% @zone3.each do |zone| %>
   <% contador += 1 %>
   <%if zone.image_id   
      @imagen = Image.find(zone.image_id)
      @image = @imagen.image_url
   else 
      @image ="/data/dommy.jpg"
   end %>   
   <div class="welcome_show_cuadro">
      <div class="centra_img"><%= link_to image_tag(@image), equipment_path(zone) %></div>
      <div class="ajustar_titulo"><%= link_to zone.name, equipment_path(zone), class: "ajustar_titulo" %></div>
      <div class="detalles">
         <strong>Marca:</strong> <%= zone.brand.name %><br>
         <strong>Modelo:</strong> <%= zone.modelo %><br>    
         <strong>Año:</strong> <%= zone.year %><br>
         <%if zone.publication_type == 1 %>Venta<% else %>Renta<% end %>: <%= number_to_currency(zone.precio) %><br/> <%= zone.currency.name %><br>
         <img src="/images/iconos/mapa.png"> <%= zone.state.name %>, <%= zone.country.name %>
      </div>
   </div>      
   <% end %>
</div>
</div>
</div>
</article>
      <div id="active3">
         <% case contador %>
         <% when 0..4 %>
            <label for="slide31"></label>
         <% when 5..8 %>
            <label for="slide31"></label>         
            <label for="slide32"></label>
         <% when 9..12 %>
            <label for="slide31"></label>         
            <label for="slide32"></label> 
            <label for="slide33"></label>                    
         <% when 13..16 %>
            <label for="slide31"></label>         
            <label for="slide32"></label> 
            <label for="slide33"></label>
            <label for="slide34"></label>                       
         <% else %>   
            <label for="slide31"></label>         
            <label for="slide32"></label> 
            <label for="slide33"></label>
            <label for="slide34"></label>               
            <label for="slide35"></label>
         <% end %>  
      </div> <!-- #active -->
