<% @zone1.each do |zone| %>
<div class="welcome_show_cuadro">
	<%if zone.image_id	
		@imagen = Image.find(zone.image_id)
		@image = @imagen.image_url
	else 
		@image ="/data/dommy.jpg"
	end %>	

	<div class="centra_img"><%= link_to image_tag(@image), "equipment/" + zone.id.to_s %></div>
	<div class="ajustar_titulo"><%= link_to zone.name, "equipment/" + zone.id.to_s, class: "ajustar_titulo" %></div>
	<div class="detalles">
		Marca: <%= zone.brand.name %><br>
		Modelo: <%= zone.modelo %><br>		
		Año: <%= zone.year %><br>
		<%= zone.package_id %>: <%= number_to_currency(zone.precio) %> <%= zone.moneda %><br>
		Ubicación: <%= zone.ciudad %>, <%= zone.estado %>
	</div>
</div>		
<% end %>

<% @zone2.each do |zone| %>
<div class="welcome_show_cuadro">
	<%if zone.image_id	
		@imagen = Image.find(zone.image_id)
		@image = @imagen.image_url
	else 
		@image ="/data/dommy.jpg"
	end %>	

	<div class="centra_img"><%= link_to image_tag(@image), "equipment/" + zone.id.to_s %></div>
	<div class="ajustar_titulo"><%= link_to zone.name, "equipment/" + zone.id.to_s, class: "ajustar_titulo" %></div>
	<div class="detalles">
		Marca: <%= zone.brand_id %><br>
		Modelo: <%= zone.modelo %><br>		
		Año: <%= zone.year %><br>
		<%= zone.package_id %>: <%= number_to_currency(zone.precio) %> <%= zone.moneda %><br>
		Ubicación: <%= zone.ciudad %>, <%= zone.estado %>
	</div>
</div>		
<% end %>

<% @zone3.each do |zone| %>
<div class="welcome_show_cuadro">
	<%if zone.image_id	
		@imagen = Image.find(zone.image_id)
		@image = @imagen.image_url
	else 
		@image ="/data/dommy.jpg"
	end %>	

	<div class="centra_img"><%= link_to image_tag(@image), "equipment/" + zone.id.to_s %></div>
	<div class="ajustar_titulo"><%= link_to zone.name, "equipment/" + zone.id.to_s, class: "ajustar_titulo" %></div>
	<div class="detalles">
		Marca: <%= zone.brand_id %><br>
		Modelo: <%= zone.modelo %><br>		
		Año: <%= zone.year %><br>
		<%= zone.package_id %>: <%= number_to_currency(zone.precio) %> <%= zone.moneda %><br>
		Ubicación: <%= zone.ciudad %>, <%= zone.estado %>
	</div>
</div>		
<% end %>