<% unless User.find_by(id: session[:user_id]) %>
	<%= form_tag do %>
		<% if flash[:alert] %>
			<p id="notice"><%= flash[:alert] %></p>
		<% end %>
		<div>
			<%= label_tag :username, 'Name:' %> </br>
			<%= text_field_tag :username, params[:username] %>
		</div>
		<div>
			<%= label_tag :password, 'Password:' %></br>
			<%= password_field_tag :password, params[:password] %>
		</div>
		<div>
			<%= submit_tag "Login" %>
		</div>
	<% end %>

		<div>
			<%#= link_to "Recuperar Password", new_recover_password_path %>
			<p><%= link_to "forgotten password?", new_password_reset_path %></p>

		</div>
<% else %>
	<p>Bienvenido <%= "#{session[:uname]}"%></p>
	<%= link_to "Cambiar Password", new_cambiar_password_path %>
	<%= button_to 'Logout', logout_path, method: :delete %>
<%end %>


<% @zone1.each do |zone| %>
<div class="welcome_show_cuadro">
	<%if zone.image_id	
		@imagen = Image.find(zone.image_id)
		@image = @imagen.image_url
	else 
		@image ="/data/dommy.jpg"
	end %>	

	<div class="centra_img"><%= link_to image_tag(@image), "equipment/" + zone.id.to_s %></div>
	<div class="ajustar_titulo"><%= link_to zone.name, "equipment/" + zone.id.to_s, class: "ajustar_titulo" %></div>
	<div class="detalles">
		Marca: <%= zone.brand_id %><br>
		Modelo: <%= zone.modelo %><br>		
		Año: <%= zone.year %><br>
		<%= zone.package_id %>: <%= number_to_currency(zone.precio) %> <%= zone.moneda %><br>
		Ubicación: <%= zone.ciudad %>, <%= zone.estado %>
	</div>
</div>		
<% end %>

<% @zone2.each do |zone| %>
<div class="welcome_show_cuadro">
	<%if zone.image_id	
		@imagen = Image.find(zone.image_id)
		@image = @imagen.image_url
	else 
		@image ="/data/dommy.jpg"
	end %>	

	<div class="centra_img"><%= link_to image_tag(@image), "equipment/" + zone.id.to_s %></div>
	<div class="ajustar_titulo"><%= link_to zone.name, "equipment/" + zone.id.to_s, class: "ajustar_titulo" %></div>
	<div class="detalles">
		Marca: <%= zone.brand_id %><br>
		Modelo: <%= zone.modelo %><br>		
		Año: <%= zone.year %><br>
		<%= zone.package_id %>: <%= number_to_currency(zone.precio) %> <%= zone.moneda %><br>
		Ubicación: <%= zone.ciudad %>, <%= zone.estado %>
	</div>
</div>		
<% end %>

<% @zone3.each do |zone| %>
<div class="welcome_show_cuadro">
	<%if zone.image_id	
		@imagen = Image.find(zone.image_id)
		@image = @imagen.image_url
	else 
		@image ="/data/dommy.jpg"
	end %>	

	<div class="centra_img"><%= link_to image_tag(@image), "equipment/" + zone.id.to_s %></div>
	<div class="ajustar_titulo"><%= link_to zone.name, "equipment/" + zone.id.to_s, class: "ajustar_titulo" %></div>
	<div class="detalles">
		Marca: <%= zone.brand_id %><br>
		Modelo: <%= zone.modelo %><br>		
		Año: <%= zone.year %><br>
		<%= zone.package_id %>: <%= number_to_currency(zone.precio) %> <%= zone.moneda %><br>
		Ubicación: <%= zone.ciudad %>, <%= zone.estado %>
	</div>
</div>		
<% end %>