<div id="menu_eym">
	<ul class="menu">
		<li><%= link_to 'Inicio', root_url %></li>
		<li><%= link_to 'Categorias', category_vista_path %>
			<ul>
			<% @category.each do |category| %>
				<% if category.father_id == 0 %>
					<li><%= link_to category.title, Filtro_path('categoria' => category.title, 'tipo' => 1), method: :post %>
					<ul>
						<% @category.each do |category2| %>
							<% if category2.father_id == category.id %>
								<li><%= link_to category2.title, Filtro_path('categoria' => category2.title, 'tipo' => 1), method: :post %></li>
							<% end %>
						<% end %>
					</ul>
					</li>
				<% end %>
			<% end %>
			</ul>
		</li>
		<li><a href="#">Industria</a></li>
		<li><a href="#">Blog</a></li>
	</ul>
	<div class="menu_publica"><%= link_to '$ Publica tu Anuncio', "/equipment/new" %></div>
</div>
	

