<!DOCTYPE html>
<html>
<head>
  <title>Equipos y Maquinas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
  <%= render partial: "layouts/header" %> 

<body>
	<!-- Validarlo para que no salga si no es el index -->
	<%= render partial: "layouts/anuncio" %> 
	<!-- Fin de la validación -->
  <%= render partial: "layouts/breadcrumb" %>
	<div class="content"><div class="interior"><%= yield %></div></div>
</body>

  <%= render partial: "layouts/footer" %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  




</html>

